@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1fbf6;
}

.about-area {
    padding: 80px 0;
}

.about-area h4 {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-area p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.about-area ol {
    font-size: 16px;
    line-height: 1.6;
    margin-left: 20px;
}

.about-area li {
    margin-bottom: 10px;
}


.fa-level-up-alt {
    color: #fff;
}

footer p {
    margin-left: 5px;
}

footer a {
    text-decoration: none;
    color: #00880F;
}

footer p i {
    color: #00880F
}


.scrollTop {
    position: fixed;
    bottom: 800px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00880F;
    color: #fff;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scrollTop.active {
    bottom: 40px;
    visibility: visible;
    opacity: 1;

}